<!-- ADVANCED PROGRAMMING PROJECT
     HTML DOCUMENT for the user interface - web page
     In this file it's contained the HTML code for the Homepage -->

<!DOCTYPE HTML>

<html>
    <head>
    <title> Homepage </title>
    <style> h1{font-family:Candara;font-size:40px} h3{font-wight:bold;font-family:Georgia} h4{font-wight:bold;font-family:Georgia} p{font-family:Georgia} </style>
    </head>

    <body style='margin: 25px 50px 75px 50px'>
    <h1 style="text-align:center;color:	#2E8B57;"> Insights on the Human Genome </h1>
    <p style="text-align:center"> This software allows to adress some questions on the human genome by performing a series of operations on a GFF3 file, which is an annotation file containing some information on the human genome. </p>

    <br>

    <h3> Getting information on the humane genome annotation file </h3>
    <p> For viewing, accessing and then executing the operations that can be done on the GFF3 file,
    check the registry of active operations : <form action="./active_operations"> <input type="submit" value="check registry" style="color:#2F4F4F">  </form> </p>

    <br> <br>

    <h4> <bold> Project documentation </bold> </h4>
    <p> Click <a style="color:#2F4F4F" target="_blank" href="./project_document">here</a> for the description of the project in terms of software analysis, design and implementation </p>


    <div style="position:relative">
    <p style="position:fixed;bottom:2px;width:100%;font-size:14px;font-color:#696969:;text-align:center; background-color:white; "> Advanced Programming project, Genomics 2022/2023 - Ruggiero Alessia, Vincenzi Francesca, Mascagni Marianna  </p></div>


    </body>



</html>
