<!DOCTYPE HTML>

<html> <head><title>{{title}}
	</title>
	<style> body {font-family: Georgia, serif; margin: 25px 50px 75px 100px;}
		table {font-family: Georgia, serif; border-collapse : collapse;}
		td {text-align: center;}
		th, td {padding: 10px; text-align: left;}
		tr:nth-child(even) {background-color: #f2f2f2;}
	</style>
	</head>
	<body  ><h2>{{title}}</h2>
	<div style = "overflow-x:auto;">
	{% block content %}
	{{ df | safe}}
	{% endblock %}
	</div>
	</p>If you want to access other operations, click <a href='active_operations'>here</a>, otherwise go back to <a href='/'>Homepage</a></p>
	<div style="position:relative">
    <p style="position:absolute;bottom:-50px;width:100%;font-size:14px;font-color:#696969:;text-align:center; background-color:white;"> 
        Advanced Programming project, Genomics 2022/2023 - Ruggiero Alessia, Vincenzi Francesca, Mascagni Marianna  </p></div>
	</body>
</html>
